<!--Strona główna sprzedaży, umożliwia przejście do formularza sprzedaży-->
<center>
    <div class="text-block">
        <h1 class="display-4">Sell components</h1>
        <h5>Interested in selling your stuff? Click the button below to complete the form. </h5>
        <!--Link do formularza-->
        <h6>@Html.ActionLink("Go!", "Create", "Sell")</h6>
    </div>
</center>
