@{
    ViewData["Title"] = "Home Page";
}
<!--Strona powitalna-->
<center>
    <div class="text-block">
        <h1 class="display-4">Welcome !</h1>
        <h5>Annoyed by high graphic cards prices? On this site you can buy graphic cards (and much more) via our black market and save some money! </h5>
    </div>
</center>
